.menu {
  position: relative;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin: 2em 0;
}
.trigger {
  background: none;
  //border-radius: 50%;
  width: 75px;
  height: 75px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  position: relative;
  z-index: 1000;
  -webkit-tap-highlight-color: #00be9c;
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}
.share.close{
  content: url("../../assets/images/icon/message_icon.png");
  width: 35px;
  margin: 20px;
}
.share.open{
  content: url("../../assets/images/icon/group2009.svg");
  width:20px;

}
.trigger span {
  opacity: 0;
  position: absolute;
}
.morph-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.morph-shape svg path {
  fill: #00be9c;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.menu--open .morph-shape svg path {
  fill:#00be9c ;
}

.close{
  opacity: 1!important;
}
